<div fxLayout="column" style="background: #0097A7; height: 100%;">
    <button mat-button style="color: white;" routerLink="/home"><mat-icon style="margin:10px;">home</mat-icon>&nbsp;<span>Home</span></button>
    
    <button mat-button style="color: white;" routerLink="/"><mat-icon style="margin:10px;"> fastfood</mat-icon>&nbsp;<span>Menu</span></button>
    
    <button mat-button style="color: white;" routerLink="/cart"><mat-icon style="margin:10px;">shopping_basket</mat-icon>&nbsp;<span>Cart</span></button>
    <button routerLink="/cart" mat-icon-button></button>
</div>
